<div class="card text-center">
  <div class="card-body">
    <h1 class="card-title"><%= link_to (image_tag("/logo_black.png", class:"img-responsive center-block")),root_path %>
    </h1>
    <h3></h3>
  </div>
</div>
<main role="main">
      <div class="container">
        <!-- Example row of columns -->
        <div class="row">
          <div class="col-md-4">
            <h2 class="title_main">Pourquoi </h2>
            <p>Nous pensons que pour la communauté musulmane, il est prioritaire de combattre
              la malhonnêteté et de soutenir le bien dans le domaine alimentaire.</p>
          </div>
          <div class="col-md-4">
            <h2 class="title_main">Comment </h2>
            <p>La façon dont nous contestant la malhonnêteté et soutenons le bien est de conçevoir des outils simple et beau
               qui permettent de vérifier et diffuser les bonnes informations.</p>
          </div>
          <div class="col-md-4">
            <h2 class="title_main">Quoi?</h2>
            <p>Nous commençons par un site web qui liste, sur des critères bien définis,
              les meilleurs restaurants halal ou se restaurer de manière convivial.</p>
          </div>
        </div>
        <article class="text-center">
                <img class="rounded-circle z-depth-2" src="/photo_profil.JPG" alt="" width="150" height="150">
                <h3>Je m'appelle Jean-rodriguez kinouani aka Abderahaman,<br>fondateur de Halalnote et vous pouvez me suivre sur
          <a href="https://twitter.com/jrkinouani">twitter</a>.
                 </h3>
        </article>
      </div> <!-- /container -->
</main>
