<div class="jumbotron about">
    <div class="card-body">
      <div class="card text-center">
      <h1 class="card-title"><%= link_to (image_tag("/Logo_solo_black.png", class:"img-responsive")),root_path %>
      </h1>
      </div>
      <h3 class="title_about">Commencement</h3>
      <p class="text_about"> J'ai toujours eu du mal à
        choisir un fast food pour manger avec des potes à cause
        de l'origine de la viande. Il y a 20 ans on comptait sur notre analyse du restaurant
        et sur la tête des gens qui y allaient. Au tant vous le dire cash, on a souvent manger
        de la viande non halal. Notre pratique de dine tant bancale donc le reste était logiquement
        bancale. Avec les années passant, on a rectifié notre pratique de dine pour que cela devienne
        le centre de notre vie. Cependant, malgré le boom de la restauration halal, le problème
        du choix du restaurant et de l'authenticité de la viande c'est amplifié.
      </p>

      <h3 class="title_about">Problème</h3>
      <p class="text_about">
        Le problème c'est qu'à chaque fois que je veux manger dehors le doute et la suspicion
        s'installe. Pour être tranquille, je mange souvent au même endroit, c'est à dire des grecs.
        Avec un pote ça va vite fait, mais pour un repas d'affaire, un repas en couple
        ou une sortie en famille c'est limite voire pas adapté du tout. D'antant que l'offre
        du halal est pléthorique et diverse. <br> Les sites web qui recensent les restos Halal
        j'ai pas confiance trop impersonnelle et bourrées d'avis frauduleux. <br>
        Alors qu'est-ce que je veux ? Je veux avoir un aperçu rapide de où manger quand je sors.
        Quelles sont les restos sures et adaptés à mes besoins ?

      </p>

      <h3 class="title_about">Solution</h3>
      <p class="text_about">
        Ce problème dure depuis trop longtemps. Lorsque un pote qui vit à
        Londres est passé pour nous voir sur Paris, on s'est organisé avec des potes d'enfance une soirée
        bouffe à l'ancienne sur Paris. On a mis une jounée entière pour choisir un resto, comme
        à l'époque de nos vingt ans, mais j'en ai quarante maintenant.
        Mais que se passerait-il si je pouvais avoir une application Web où je pourrais moi-même
        tester, classer et valider des restos sur des critères simples. Chaque critères seraient
        noté sur 5 étoiles.
        Ces critères seraient par exemple La certification, l'accueil,
        le goût, l'intérieur et le prix. Cela m'aiderait
        beaucoup pour découvrir des restos et manger sans crainte. <br>
        Essayons.
      </p>

        <a class="list-group-item list-group-item-action d-flex align-items-center" href="https://twitter.com/jrkinouani">
          <img src="/photo_profil.JPG" alt="@martijncuppens" width="42" height="42" class="rounded me-2" loading="lazy">
          <span>
            <strong>Jean-rodriguez kinouani</strong> @jrkinouani sur twitter.
          </span>
        </a>
    </div>
  </div>
