/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";
.container-fluid
{
    width: 100%;
    padding-right: 0px !important;
    padding-left: 0px!important;
    margin-right: auto;
    margin-left: auto;
}
/* navabr */
a.btn-warning {
  color: #fff;
  background-color: #BB371A;
  border-color: #BB371A;
}

.bg-dark.text-secondary.px-4.py-5.text-center {
  background-color: #fff !important;
  padding-top: 1rem !important;
}
h1.display-5.fw-bold.text-white
{
    color: black !important;
}
p.fs-5.mb-4
{
    color: black !important;
}
.pt-5, .py-5
{
    padding-top: 1rem !important;
}
